*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

.form-group{
    max-width: 800px;
    margin: 0 auto; 
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 2px 1px 6px 2px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;

}

.title{
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1rem 0;
    letter-spacing: .2rem;
    color: #222831;
}

.form-control{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.form-label{
    display: block;
    width: 25%;
    font-size: 1.1rem;
    text-transform: capitalize;
    color: #222831;
    font-weight: bold;
}

.form-input{
    outline: none;
    width: 75%;
    background-color: rgb(255, 255, 255);
    color: #222831;
}

.form-input, .form-input-time {
    border: 2px solid #E8E8E8;
    font-size: 1.1rem;
    padding: .8rem .2rem;
    border-radius: .2rem;
    transition: 0.3s;
}

.form-input:focus, .form-input-time:focus{
    outline: none;
    border: 2px solid #F05454;
}

.form-input.time{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.form-input-time{
    border: 2px solid #E8E8E8;
}

.form-input.time p {
    margin: 0;
    text-transform: capitalize;
}

.btn{
    text-transform: capitalize;
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: .2rem;
    width: 8rem;
    opacity: 0.9;
    transition: .3s;
    border: none;
}

.btn-send:hover{
    opacity: 1;
}

.btn-send{
    color: #E8E8E8;
    background-color: #f05454;
}

.btn-wait{
    background-color: #30475E;
    color: rgb(255, 255, 255);
    opacity: 0.4;
}

.d-none{
    display: none;
}

.alert{
    padding: 1rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    max-width: 25rem;
    position: absolute;
    right: -25rem;
    transition: .3s;
    border-radius: .4rem;
    color: white;
}

.alert.active{
    right: 0;
}

.success {
    background-color: #f05454;
}

.failed{
    background-color: #30475E;
}

.link-btn{
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin: 1rem auto;
}

@media (max-width: 600px) {
    .form-group {
        padding: .5rem;
    }

    .form-control{
        flex-wrap: wrap;
    }

    .form-label{
        width: 100%;
        margin-bottom: .5rem;
    }
    .form-input{
        width: 100%;
    }

}